In [1]:
data1 = '안녕'
data2 = 1
data3 = 1.2
data4= True

In [2]:
data2 = 3
data2 + data2

6

In [3]:
data2

3

In [4]:
data2 = 3
data2 + data2

6

In [5]:
data1 + data2

TypeError: can only concatenate str (not "int") to str

In [6]:
type(data1)

str

In [7]:
type(data2)

int

In [8]:
type(data3)

float

In [9]:
type(data4)

bool

In [10]:
data1
data2

3

In [11]:
print(data1)
print(data2)
print(data3)
print(data4)

안녕
3
1.2
True

In [12]:
print(3 + 7)
print(10 - 3)
print(15 / 7)
print(34 * 100)

10
7
2.142857142857143
3400

In [13]:
data1 = 5
data2 = 10

print(data1 + data2)
print(data1 - data2)
print(data1 / data2)
print(data1 * data2)

15
-5
0.5
50

In [14]:
print(data1, data2, data3, data4, 1, 2, 3)
print(data1, 'X', data2, '=', data1 * data2)

5 10 1.2 True 1 2 3
5 X 10 = 50

In [15]:
age = 30
name = '김지환'
hobby = '3D 모델링'
job = '백수'

In [16]:
print(age, name, hobby, job)

30 김지환 3D 모델링 백수

In [19]:
data = 2

print(data, 'X', 1, '=', data * 1)
print(data, 'X', 2, '=', data * 2)
print(data, 'X', 3, '=', data * 3)
print(data, 'X', 4, '=', data * 4)
print(data, 'X', 5, '=', data * 5)
print(data, 'X', 6, '=', data * 6)
print(data, 'X', 7, '=', data * 7)
print(data, 'X', 8, '=', data * 8)
print(data, 'X', 9, '=', data * 9)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [21]:
data1 = 10
data2 = 5

print(data1 +  data2)
print(data1 *  data2)
print(data1 /  data2)

15
50
2.0

In [23]:
data1 = '잔재미 코딩'
data2 = 4
data3 = False
data4 = 3.3

print(type(data1))
print(type(data2))
print(type(data3))
print(type(data4))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>