In [1]:
datas1 = ['Dave Lee', 'Alex', '김태환']

In [2]:
datas1

['Dave Lee', 'Alex', '김태환']

In [3]:
datas1 = list()

In [4]:
datas1 = [1,2,3]

In [5]:
datas1.append(4)
datas1

[1, 2, 3, 4]

In [6]:
datas1 = ['Dave Lee', 'Alex', '김태환']

In [7]:
datas1[0]

'Dave Lee'

In [8]:
datas1[1]

'Alex'

In [9]:
print(datas1[2])

김태환

In [10]:
del datas1[1]

In [12]:
datas1[1]

'김태환'

In [13]:
datas1 = [1,2,3]
for i in datas1:
    print(i)

1
2
3

In [14]:
datas1 = ["fun", "coding", "Dave", "Lee", "업무", "자동화"]

for i in datas1:
    print(i)

fun
coding
Dave
Lee
업무
자동화

In [15]:
datas1 = [2, 4, 6, 8, 10]

for i in datas1:
    print(i * 2)

4
8
12
16
20

In [17]:
datas1 = list()

for i in range(1,6):
    datas1.append(i * 2)

datas1

[2, 4, 6, 8, 10]