In [1]:
type('안녕하세요')

str

In [2]:
data1 = '1'
type(data1)

str

In [3]:
data1 + 1

TypeError: can only concatenate str (not "int") to str

In [4]:
data1 = int(data1)

In [5]:
type(data1)

int

In [6]:
data1 + 1

2

In [7]:
def func1(data1):
    return data1 * data1

In [8]:
func1(2)

4

In [9]:
def func1(data1):
    print('곱셈', data1 * data1)

In [10]:
func1(2)

곱셈 4

In [11]:
def func1(data1):
    return data1 * data1

In [12]:
func1(func1(2))

16

In [14]:
def func1(data1, data2):
    return data1 * data2

In [16]:
func1(2, 1)

2

In [17]:
def func1(data1, data2):
    print(data1 + data2)
    print(data1 - data2)
    print(data1 * data2)
    print(data1 / data2)

In [19]:
func1(3, 2)

5
1
6
1.5

In [20]:
def func1(data1, data2):
    print(data1, 'X', data2, '=',data1 * data2)

for i in range(10):
    func1(2, i)

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [21]:
def func1(data1, data2):
    print(data1, 'X', data2, '=',data1 * data2)

for i in range(1, 10):
    func1(2, i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18